In [1]:
import pandas as pd

In [19]:
df = pd.read_parquet('data/experiment.parquet')
df.head(20)

            City State  Year Algorithm_l   Distance
index
0          Davis    CA  2010       Frank   5.085678
1          Davis    CA  2010      Noah_C  24.225463
2          Davis    CA  2010      Noah_S  14.085326
3          Davis    CA  2011       Frank   3.519763
4          Davis    CA  2011      Noah_C  24.770929
5          Davis    CA  2011      Noah_S  12.987980
6          Davis    CA  2012       Frank   1.984338
7          Davis    CA  2012      Noah_C  24.792897
8          Davis    CA  2012      Noah_S  11.397326
9        Raleigh    NC  2012       Frank   4.619623
10       Raleigh    NC  2012      Noah_C  20.863635
11       Raleigh    NC  2012      Noah_S  14.908303
12     Baltimore    MD  2013       Frank   7.102574
13     Baltimore    MD  2013      Noah_C  25.147259
14     Baltimore    MD  2013      Noah_S  16.490836
15      Columbia    SC  2013       Frank   8.037698
16      Columbia    SC  2013      Noah_C  19.146715
17      Columbia    SC  2013      Noah_S  17.246424
18         Davis    CA  2013       Frank   1.965295
19         Davis    CA  2013      Noah_C  24.789860

In [20]:
df.groupby('Algorithm_l')['Distance'].mean()

Algorithm_l
Frank        6.937199
Noah_C    2591.776606
Noah_S      15.595157
Name: Distance, dtype: float64

In [21]:
df.groupby(['Algorithm_l', 'Year'])['Distance'].mean()

Algorithm_l  Year
Frank        2010       5.085678
             2011       3.519763
             2012       3.301981
             2013       7.377857
             2014       6.972529
             2015       7.989612
             2016       8.704534
             2017       8.169052
             2018       8.926623
             2019       8.919129
             2020       7.737539
             2021       7.357925
             2022       6.112149
             2023       6.194115
Noah_C       2010      24.225463
             2011      24.770929
             2012      22.828266
             2013    2064.359308
             2014    1396.155455
             2015    2544.293608
             2016    3476.411057
             2017    2455.482767
             2018    2382.181573
             2019    2611.095781
             2020    2540.541067
             2021    2474.929911
             2022    2661.243972
             2023    2641.444354
Noah_S       2010      14.085326
             2011      12.987980
             2012      13.152815
             2013      16.556449
             2014      16.920341
             2015      17.440999
             2016      17.701190
             2017      16.838246
             2018      17.602374
             2019      17.543015
             2020      16.608952
             2021      15.897636
             2022      14.773600
             2023      14.755320
Name: Distance, dtype: float64